a{
  color:red;
}


#moya_ssilka{
  color:lime;
}
#super{
  color:yellow
}
.human{
  color:blue; 
  font-size: 50px;
}
.message{
  color:brown;
  background-color:grey;
  border:5px solid green;
  font-size:30px;
  margin-left: 10px;
  margin-right:35px;
  margin-botton:35px;
  padding:10px;
    }